In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

DT = pd.read_csv("student_marks_multiple.csv")
DT.head(15)

    Hours  Attendance  Sleep  PrevScore  FinalMarks
0       2          65      6         40          45
1       3          70      6         45          50
2       4          75      7         50          55
3       5          80      7         55          60
4       6          85      7         60          65
5       7          88      8         65          70
6       8          90      8         70          75
7       9          92      8         75          80
8      10          94      8         80          85
9      11          95      8         82          87
10     12          96      9         85          90
11     13          97      9         88          92
12     14          98      9         90          95
13     15          99      9         92          97
14     16         100      9         95          99

In [6]:
x = DT.iloc[:,0:4]
y = DT.iloc[:,4]
x.head()

   Hours  Attendance  Sleep  PrevScore
0      2          65      6         40
1      3          70      6         45
2      4          75      7         50
3      5          80      7         55
4      6          85      7         60

In [31]:
y.head()

0    45
1    50
2    55
3    60
4    65
Name: FinalMarks, dtype: int64

In [32]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25,random_state=0)

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train, y_train)

In [34]:
print("intercept: ",regressor.intercept_)
print("Coefficient: ", regressor.coef_)

intercept:  3.208572261638608
Coefficient:  [-0.0509621   0.02966165  0.13300887  0.97777348]

In [37]:
y_pred = regressor.predict(x_test)
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
print(df)

   Actual  Predicted
1      50  49.929861
6      75  74.978638
8      85  84.773095
9      87  86.707342

In [38]:
from sklearn.metrics import r2_score
print("R2 Score:", r2_score(y_test, y_pred))

R2 Score: 0.9998355807392059

In [47]:
from sklearn import metrics
print("Mean Absolute Error:", metrics.mean_absolute_error(y_test, y_pred))
print("Mean Squared Error:", metrics.mean_squared_error(y_test, y_pred))
print("Root Mean Squared Error:",np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.15276595998290965
Mean Squared Error: 0.0356275985733359
Root Mean Squared Error: 0.1887527445451745

In [15]:
import joblib
joblib.dump(regressor, "Stud_mrk_model.pkl")
print("model saved successfully!!")

model saved successfully!!